.movies-card-section {
  display: flex;
  margin: 68px auto 30px;
}

.movies-card-list {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 24px;
  list-style-type: none;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1200px) {
  .movies-card-list {
    /* padding: 70px 30px 30px; */
    row-gap: 36px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 1163px;
    overflow: hidden;
  }
}

@media screen and (max-width: 730px) {
  .movies-card-list {
    max-height: 1075px;
  }
}

@media screen and (max-width: 650px) {
  .movies-card-section {
    margin-top: 40px;
  }

  .movies-card-list {
    /* padding: 70px 30px 30px; */
    row-gap: 16px;
    /* column-gap: 30px; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 1243px;
  }
}
