.movies-card-section {
  display: flex;
  margin: 68px auto 30px;
}

.nothing-found-image-block {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nothing-found-image {
  width: 60%;
  height: auto;
}

.movies-card-list {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;
  list-style-type: none;
}

.search-error-message {
  text-align: center;
  color: rgba(238, 52, 101, 1);
  font-size: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .movies-card-list {
    row-gap: 36px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .movies-card-section {
    margin-top: 40px;
  }

  .movies-card-list {
    row-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}
