.profile {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: auto;
  text-align: center;
  margin-top: 74px;
}
.profile__greetings {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 124px;
}
.profile__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 220px;
}
.profile__form__label {
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.profile__form__input {
  height: 10px;
  font-size: 11px;
  font-weight: 400;
  text-align: end;
  border: none;
  outline: none;
  margin-right: -3px;
}

.profile__form__input_invalid {
  color: red;
  caret-color: black;
}

.profile__form__linegrey {
  margin: 16px 0 17px;
}

.profile__update-btn {
  font-size: 13px;
  font-weight: 400;
  font-family: "Inter", "Atial", sans-serif;
  font-style: normal;
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 14px;
}
.profile__logout-btn {
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", "Atial", sans-serif;
  font-style: normal;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: rgba(238, 52, 101, 1);
}

@media screen and (max-width: 900px) {
  .profile {
    margin-top: 234px;
  }

  .profile__greetings {
    margin-bottom: 96px;
  }

  .profile__form {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 260px;
  }

  .profile {
    margin-top: 70px;
  }
  .profile__greetings {
    margin-bottom: 80px;
  }

  .profile__form {
    margin-bottom: 379px;
  }

  .profile__update-btn {
    font-size: 12px;
  }

  .profile__logout-btn {
    font-size: 12px;
  }
}
