.burger-menu {
  position: fixed;
  /* width: 68vw; */
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  /* right: 0;
  bottom: 0; */
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 40;
  /* padding: 169px 0 92px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
   */
  display: flex;
  justify-content: flex-end;
}

.burger-menu_active {
  transform: translateX(0);
}

.burger-menu__blackout {
  /* content: ""; */
  /* display: flex; */
  position: absolute;
  top: 0;
  left: 0;
  width: 32vw;
  height: 100vh;
  /* right: 30%; */
  background-color: rgba(0, 0, 0, 0.5);
}

.burger-menu__content {
  width: 68vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 169px 0 92px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  /* z-index: 40; */
}

.burger-menu__list {
  list-style: none;
}

.burger-menu__list-item {
  margin-bottom: 30px;
}

.burger-menu__list-item-link {
  font-weight: 500;
  font-size: 18px;
  color: black;
  border: none;
  text-decoration: none;
  padding-bottom: 4px;
}

.burger-menu__list-item-link:hover {
  border-bottom: 3px solid #000;
}

.burger-menu__account {
  display: flex;
  justify-content: center;
}

.burger-menu__account-logo-man {
  height: 30px;
  margin-left: 17px;
}

.burger-menu__account-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: black;
  border: none;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  display: flex;
}

/* 400 */
@media screen and (max-width: 400px) {
  .burger-menu {
    width: 100vw;
    padding: 164px 0 48px;
  }

  .burger-menu__content {
    margin-left: 13px;
  }

  .burger-menu__list-item {
    margin-bottom: 25px;
  }
}
