.save-checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* Hide the browser's default checkbox */
.save-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.save-checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-image: url(../../images/save-icon.svg);
}

/* When the checkbox is checked, add a blue background */
.save-checkbox-container input:checked ~ .save-checkbox-checkmark {
  background-image: url(../../images/save-icon-green.svg);
}

/* Create the checkmark/indicator (hidden when not checked) */
/* .save-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none; */
  /* background-image: url(../../images/save-icon-green.svg); */
/* } */

/* Show the checkmark when checked */
/* .save-checkbox-container input:checked ~ .save-checkbox-checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
.save-checkbox-container .save-checkbox-checkmark:after {
  /* left: 9px;
  top: 5px;
  width: 5px;
  height: 10px; */
  /* border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
}
