.register {
  width: 396px;
  margin: 70px auto;
}
.register__greetings {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}
.register__form {
  display: flex;
  flex-direction: column;
}
.register__form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  font-size: 10px;
  color: rgba(160, 160, 160, 1);
}
.register__form__input {
  border: none;
  margin-top: 10px;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 8px;
  font-size: 13px;
  padding: 15px;
  outline: none;
}

.register__form__input__error-msg {
  margin-top: 10px;
  font-weight: 400;
  font-size: 10px;
  color: rgba(238, 52, 101, 1);
}

.register__button {
  margin-top: 46px;
  margin-bottom: 16px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 104, 56, 1);
  font-family: "Inter", "Atial", sans-serif;
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.register__question {
  font-weight: 400;
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  text-align: center;
}
.register__link {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 104, 56, 1);
  margin-left: 3px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .register {
    width: 260px;
    margin: 56px auto 30px;
  }

  .register__main-link {
    text-align: center;
  }

  .register__greetings {
    text-align: center;
  }

  .register__greetings {
    margin-top: 46px;
    margin-bottom: 83px;
  }

  .register__button {
    margin-top: 135px;
    margin-bottom: 14px;
    font-size: 12px;
  }

  .register__question {
    font-size: 12px;
  }

  .register__link {
    font-size: 12px;
  }
}
