.footer {
  min-height: 172px;
  padding: 0 70px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-size: 13px;
}

.footer__text-yandex {
  color: #a0a0a0;
  margin: 79px auto 20px;
}

.footer__line {
  width: 100%;
  height: 0;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.footer__lowest-block {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__lowest-block__about-yandex {
  display: flex;
}

.footer__lowest-block__about-yandex-githublink {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
}

/* media 900*/
@media screen and (max-width: 900px) {
  .footer {
    padding: 0 30px;
  }
}

/* media 400*/
@media screen and (max-width: 400px) {
  .footer {
    padding: 0 10px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__lowest-block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__lowest-block__about-yandex {
    flex-direction: column;
  }

  .footer__lowest-block__about-yandex-githublink {
    margin: 12px auto 32px;
    font-size: 12px;
  }

  .footer__line {
    margin-bottom: 32px;
  }

  .footer__lowest-block__year {
    letter-spacing: -1px;
  }
}
