.about-me {
  padding: 110px 70px 125px;
}

.about-me__line_lightgrey {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
  margin: 90px 0 101px;
}

.about-me__description {
  max-width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.about-me__personal-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 26px;
}

.about-me__biography {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 99px;
}

.about-me__github-link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
}

.about-me__portfolio-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.11;
  color: #a0a0a0;
  margin-bottom: 50px;
}

.about-me__portfolio-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me__portfolio-site_name {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.66;
  letter-spacing: -1px;
  margin-bottom: 19px;
}
