.about-me {
  padding: 110px 70px 125px;
}

.about-me__text {
  font-family: "Inter", "Atial", sans-serif;
  font-style: normal;
}

.about-me__header {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
  margin-bottom: 23px;
}

.about-me__line {
  width: 100%;
  height: 0;
  border: 1px solid #000;
  margin-bottom: 90px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
}

.about-me__description {
  max-width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.about-me__personal-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 26px;
}

.about-me__biography {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 99px;
}

.about-me__github-link {
  font-weight: 500;
  font-size: 14px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
}