.about-me {
  padding: 110px 70px 125px;
}

.about-me__line_lightgrey {
  border: 1px solid #e8e8e8;
  margin-bottom: 27px;
  margin-top: 23px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 101px;
}

.about-me__description {
  max-width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 18px;
}

.about-me__personal-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 26px;
}

.about-me__biography {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 30px;
  max-height: 155px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
}

.about-me__github-link {
  font-weight: 500;
  font-size: 14px;
  /* letter-spacing: -0.99px; */
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.about-me__github-link:hover {
  opacity: 0.7;
}


.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 50px;
}

.about-me__portfolio-title {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 1.11; */
  color: #a0a0a0;
  margin-bottom: 58px;
}

.about-me__portfolio-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me__portfolio-site_name {
  font-weight: 400;
  font-size: 30px;
  /* line-height: 1.66; */
  letter-spacing: -1px;
  margin-bottom: 4px;
}

.about-me__portfolio-site_link {
  width: 18px;
  margin-right: 6px;
  transition: all 0.5s;
}

.about-me__portfolio-site_link:hover {
  opacity: 0.7;
  transform: rotate(45deg);
  transition: all 0.2s;
}

/* media 900*/
@media screen and (max-width: 900px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__info {
    margin-bottom: 89px;
  }

  .about-me__name {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .about-me__personal-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .about-me__biography {
    max-width: 364px;
    margin-bottom: 41px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
    /* margin-left: 50px; */
  }

  /* .about-me__photo {
    width: 292px;
    height: 352px;
    object-fit: cover;
  }

  .about-me__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  } */
}

/* media 510*/
@media screen and (max-width: 510px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    object-fit: cover;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .about-me__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .about-me__name {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }

  .about-me__personal-info {
    letter-spacing: -0.5px;
  }

  .about-me__biography {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.45;
    max-height: 108px;
    /* margin-bottom: 30px;
    max-height: 155px;
    text-overflow: ellipsis;
    overflow: hidden; */
  }

  .about-me__portfolio-title {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 1.11; */
    /* color: #a0a0a0; */
    margin-bottom: 48px;
  }

  .about-me__portfolio-site_name {
    font-weight: 400;
    font-size: 18px;
    /* line-height: 1.66; */
    letter-spacing: -1px;
    margin-bottom: 4px;
  }

  .about-me__portfolio-site_link {
    width: 13px;
    margin-right: 3px;
  }

  .about-me__line_lightgrey {
    margin-bottom: 23px;
    margin-top: 19px;
  }
}
