.burger-button {
  display: none;
  width: 28px;
  height: 23px;
  position: relative;
  z-index: 50;
  cursor: pointer;
  margin-right: 8px;
  overflow: hidden;
}

.burger-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.5s;
}

.burger-button span {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.5s;
}

.burger-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.5s;
}

.burger-button_active {
  display: none;
  width: 22px;
  height: 22px;
  position: relative;
  z-index: 50;
  cursor: pointer;
  margin-right: -3px; /* крестик прыгает, но по макету разный правый margin */
  overflow: hidden;
}

.burger-button_active::before {
  content: "";
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.burger-button_active span {
  transform: translateX(-100%);
  transition: all 0.7s;
}

.burger-button_active::after {
  content: "";
  position: absolute;
  bottom: 9px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .burger-button {
    display: block;
  }

  .burger-button_active {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .burger-button {
    width: 23px;
    height: 21px;
  }

  .burger-button_active::after {
    bottom: 8px;
  }
}
